/* header-section */
.text-section{
    text-align: center;
    padding: 60px 200px;
    background-image: url('../images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: 900px ;
    height: 300px;
    color: aliceblue;
}
.text{
    font-weight: 700px;
    font-size: 700px;
}
.primary-btn{
    color:white;
    background-color: rgb(255, 0, 60);
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-family: sans-serif;
}
/* donate today section */
.donate-today{
    text-align: center;
    padding: 20px 190px;
    font-family: sans-serif;
    
}
.title2{
    margin-top: 80px;
    font-weight: 700px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.description2{
    color:grey;
    
}
.money{
   list-style-type: none;
   display: flex;
   gap: 20px;
   text-align: center;
   
}
.money li{
    background-color:lavender;
    padding: 25px 10px;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: 900;
    color: grey;
}

li.pink{
    color: #ff003c;
    background-color: lightpink;
}
.h3{
    color: lightgray;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px ;
}
/* donate plan section */
.title3{
    text-align: center;
    padding-top: 25px;
}
.description3{
    text-align: center;
    color: grey;
    padding-right: 120px;
    padding-left: 120px;
}
.all-mandatory{
    display: flex;
    margin: 30px 80px;
    gap: 20px;
}
.mandatory1{
    background-color: lightblue;
    padding: 20px 5px;
    border-radius: 4px;
}
.mandatory2{
    background-color:lightpink ;
    padding: 20px 5px;
    border-radius: 4px;
}
.mandatory3{
    background-color: lightcoral;
    padding: 20px 5px;
    border-radius: 4px;
}
div p,.text1,.text2,.text3{
    color: grey;
}


   